<div class="xingyue-content-layout">
  <div class="xingyue-content-layout-row">
    <%= render partial: 'common/theme/products/products_left' %>
    <div class="xingyue-layout-cell layout-item-2" style="width:75%" id="right">
      <div class="content txt_h">
        <h1><%= @product.name %></h1>
        <hr>
          <div class="productimg">
            <a href="#<%= @product.name%>">
              <img src="<%= @product.avatar.url %>" />
            </a>
          </div>
          <div class="productcontent">
            <%= @product.content %>
          </div>

        <div style="clear:both"></div>
        <div style="text-align:right">
          <a class="xingyue-button" href="#" onclick="window.location=('/products');return(false);">返回</a>
        </div>
      </div>
    </div>
  </div>
</div>